.redflag {
    color: crimson;
}

.main {
    height: 100%;
    width: 100%;
}

.block {
    float: right;
    margin: 1% 5% 1% 1%;
    width: 42%;
    height: 600px;
    overflow-x: scroll;
}

.code {
    float: left;
    width: 100%;
    height: 600px;
    overflow-x: scroll;
}

.center-div {
    float: left;
    width: 100%;
    text-align: center;
}
