<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <script th:src="@{/js/index.js}"></script>
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">Antiplagiarism</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/files}">Files</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <body>
        <form method="post" enctype="multipart/form-data" action="/" th:object="${myform}">
            <div class="uploadInputs">
                Files (.zip, .rar):
                <input type="file" name="file1" multiple><br><br>
<!--                File2 (.zip, .rar):-->
<!--                <input type="file" name="file2"><br><br>-->
                <input class="btn btn-primary" type="submit" value="Upload" /> Press here to upload <br><br>

                <p>
                    <a class="btn btn-outline-info" data-toggle="collapse" href="#collapseSettings" role="button" aria-expanded="false" aria-controls="collapseSettings">
                        Toggle settings
                    </a>
                    <input class="btn btn-outline-info" id="saveSettings" type="button" value="Save settings">
                </p>
                <div class="collapse" id="collapseSettings">
                    <div class="card card-body">
                        <div>
                            <input type="checkbox" id="checkXml" name="checkXml" th:field="*{checkXml}">
                            <label for="checkXml">Checking Xml</label>
                            <input type="checkbox" id="showZeroScore" name="showZeroScore" th:field="*{showZeroScore}">
                            <label for="showZeroScore">Show files with a score of 0</label>
                        </div>
                        <p><b>Choose optional algorithms for similarity estimation</b></p>
                        <div>
                            <input type="checkbox" id="shingles" name="shingles" th:field="*{shingles}">
                            <label for="shingles">Shingle algorithm</label>
                            <input type="checkbox" id="levenshtein" name="levenshtein" th:field="*{levenshtein}">
                            <label for="levenshtein">Levenshtein distance</label>
                            <p>
                                <a class="btn btn-outline-info" data-toggle="collapse" href="#collapseShingle" role="button" aria-expanded="false" aria-controls="collapseShingle">
                                    Shingle settings
                                </a>
                            </p>
                            <div class="collapse" id="collapseShingle">
                                <div class="card card-body">
                                    <div>
                                        <input type="number" id="shingleLength" name="shingleLen" max="100" min="1" maxlength="2" pattern="\d+" required th:field="*{shingleLen}" value="10">
                                        <label for="shingleLength">Length of shingle (1 - 100)</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="module" name="module" th:field="*{module}">
                                        <label for="module">Use module?</label>
                                    </div>
                                    <div>
                                        <input type="number" id="moduleVal" name="moduleVal" max="1000000" min="2" pattern="\d+" required th:field="*{moduleVal}" value="4">
                                        <label for="shingleLength">Module (1 - 1000000)</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p><b>Parameters of the main algorithm</b></p>
                        <div>
                            <input type="number" id="ngramLength" name="ngram" max="100" min="1" maxlength="2" pattern="\d+" required th:field="*{ngramLength}" value="17">
                            <label for="ngramLength">Length of ngram (1 - 100)</label>
                        </div>
                        <div>
                            <input type="number" id="windowLength" name="window" max="100" min="1" maxlength="2" pattern="\d+" required th:field="*{windowLength}" value="5">
                            <label for="windowLength">Window size (1 - 100)</label>
                        </div>
                        <p><b>Sorting the resulting table</b></p>
                        <div>
                            <input type="radio" id="score" name="sorting" value="score">
                            <label for="score">By score</label>
                            <input type="radio" id="firstFile" name="sorting" value="firstFile">
                            <label for="firstFile">By the name of the first file</label>
                        </div>
                        <div>
                            <input type="radio" id="index" name="sorting" checked value="index">
                            <label for="index">By index</label>
                            <input type="radio" id="secondFile" name="sorting" value="secondFile">
                            <label for="secondFile">By the name of the second file</label>
                        </div>
                        <p><b>Sort order</b></p>
                        <div>
                            <input type="radio" id="asc" name="sortOrder" checked value="asc">
                            <label for="asc">Ascending</label>
                            <input type="radio" id="desc" name="sortOrder" value="desc">
                            <label for="desc">Descending</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
